/* Root and Layout Styles */
#root {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apps-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Fallback and Error Messages */
.fallback-msg,
.page-not-found {
  color: rgb(245, 79, 79);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  box-sizing: border-box;
}

header {
  position: sticky;
  z-index: 1000;
  top: 0%;
  left: 0%;
  width: 100%;
}

/* Typography */
h1,
h2 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
}

/* Form Styling */
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}

/* Navigation Bar */
/* nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #333;
  padding: 15px 10px;
} */

/* a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  transition: background-color 0.3s ease;
} */

/* a:hover {
  background-color: #555;
} */